---
page: 1
layout: "html-example"
---
script
  var Peanuts = Peanuts || {};
  var g = 10;

  Peanuts.calculator = (function(g) { 
    var getInitialValue = function () {
       return g;
    }
     return {
       getInitialValue: getInitialValue
     }
  })(g);

  g = 20;

   Peanuts.calculator.getInitialValue(); // 10

  console.log(Peanuts.calculator()); // 10
